<!DOCTYPE html>
<html>
  <head>
    <title>Brandon Richey</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/admin" %>
    <section id="resume-top">
      <header>
	<h1>Brandon Richey</h1>
      </header>
      <article id="contact-details" class="blue">
	<a href="http://twitter.com/diamondgfx">twitter</a> &middot;
	<a href="http://www.linkedin.com/profile/view?id=105331885&trk=tab_pro">linkedin</a> &middot;
	<a href="https://github.com/Diamond">github</a> &middot;
	<a href="http://www.codeschool.com/users/diamondgfx">codeschools</a> &middot;
	<a href="http://www.codecademy.com/users/diamondgfx">codeacademy</a>
      </article>
      <nav>
	<ul>
	  <%= build_nav @nav_items %>
	</ul>
      </nav>
    </section>
    <div>
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
    </div>

    <%= yield %>

  </body>
</html>
