<!DOCTYPE html>
<html>
  <head>
    <title>Brandon Richey</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section id="resume-top">
      <header>
	<h1>Brandon Richey</h1>
      </header>
      <article id="contact-details" class="blue">
	<a href="http://twitter.com/diamondgfx">twitter</a> &middot;
	<a href="http://www.linkedin.com/profile/view?id=105331885&trk=tab_pro">linkedin</a> &middot;
	<a href="https://github.com/Diamond">github</a> &middot;
	<a href="http://www.codeschool.com/users/diamondgfx">codeschools</a> &middot;
	<a href="http://www.codecademy.com/users/diamondgfx">codeacademy</a>
      </article>
      <nav>
	<ul>
	  <li><a href="#badges">Badges</a></li>
	  <li><a href="#skills">Skills</a></li>
	  <li><a href="#projects">Projects</a></li>
	  <li><a href="#education">Education</a></li>
	  <li><a href="#jobs">Jobs</a></li>
	  <li><a href="#about">About</a></li>
	</ul>
      </nav>
    </section>
    <a name="badges"></a>
    <section id="badges">
      <header>
	<h2>Badges</h2>
      </header>
      <article>
	<h3>Code School</h3>
	<div>
	  <%= image_tag "coffeescript.png", :alt => "CoffeeScript" %>
	  <%= image_tag "html5css3.png", :alt => "HTML5/CSS3" %>
	  <%= image_tag "jquery1.png", :alt => "jQuery Part 1" %>
	  <%= image_tag "jquery2.png", :alt => "jQuery Part 2" %>
	  <%= image_tag "rfz.png", :alt => "Rails for Zombies" %>
	  <%= image_tag "rfz2.png", :alt => "Rails for Zombies 2" %>
	  <%= image_tag "trygit.png", :alt => "Try Git" %>
	  <%= image_tag "tryruby.png", :alt => "Try Ruby" %>
	  <%= image_tag "rubybits.png", :alt => "Ruby Bits 1" %>
	  <%= image_tag "rubybits2.png", :alt => "Ruby Bits 2" %>
	  <%= image_tag "railsbestpractices.png", :alt => "Rails Best Practices" %>
	  <%= image_tag "gitreal.png", :alt => "Git Real" %>
	</div>
	<div>
	  <a href="http://www.codeschool.com/users/diamondgfx">View Badges here</a>
	</div>
      </article>
      <article>
	<h3>Code Academy</h3>
	<div>
	  <a href="http://www.codecademy.com/users/diamondgfx">View Badges here</a>
	</div>
      </article>
    </section>

    <%= yield %>

  </body>
</html>
